{# ========================================================================== #}
{# :: Layout #}
{# ========================================================================== #}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" class="overflow-x-hidden">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" type="image/x-icon" href="/assets/images/favicon.png">
        <link rel="apple-touch-icon" href="/assets/images/favicon.png">
        <link href="/css/app.css" rel="stylesheet">
        <script defer src="https://unpkg.com/alpinejs@3.10.1/dist/cdn.min.js"></script>

         {% if craft.app.config.env != "production" %}
            <meta name="robots" content="noindex nofollow" />
        {% endif %}
    </head>
	<body>

        {# Header #}
        {% include "/components/header.twig" %}

        {# Content #}
        <main>
            {% block content %}
            {% endblock %}
        </main>


        {# Footer #}
        {% include "/components/footer.twig" %}
	</body>
</html>