{# ========================================================================== #}
{# :: Layout #}
{# ========================================================================== #}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" class="overflow-x-hidden">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" type="image/x-icon" href="/assets/images/favicon.png">
        <link rel="apple-touch-icon" href="/assets/images/favicon.png">
        <link href="/css/app.css" rel="stylesheet">
        <script defer src="https://unpkg.com/alpinejs@3.10.1/dist/cdn.min.js"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Schibsted+Grotesk:wght@100;400;500;600;700&display=swap" rel="stylesheet">
         {% if craft.app.config.env != "production" %}
            <meta name="robots" content="noindex nofollow" />
        {% endif %}
    </head>
	<body>

        {# Header #}
        {% include "/components/header.twig" %}

        {# Content #}
        <main>
            {% block content %}
            {% endblock %}
        </main>


        {# Footer #}
        {% include "/components/footer.twig" %}

        {# Custom styling #}
        <style>
            {# Link #}
            .c-link:hover .c-link__icon {
                transform: translateX(8px);

            }

            {# wysiwyg #}
            .s-wysiwyg ul {
                list-style: none; 
                margin-left: 0.5em;
                margin-top: 0.75em;
            }

            .s-wysiwyg ul li {
                margin-bottom: 0.5em;
                display: flex;
            }
            .s-wysiwyg ul li::before {
                content: "\2022";
                font-weight: bold;
                display: inline-block;
                width: 1em;
                margin-right: 0.25em;
                color: #272839;
            }

            .s-wysiwyg.t-rose ul li::before {
                color: #FFA592;
            }

            .s-wysiwyg.t-primary ul li::before {
                color: #ACEAD5;
            }

            .s-wysiwyg.t-blue ul li::before {
                color: #171DA1;
            }

            .s-wysiwyg.t-lavendel ul li::before {
                color: #CEC4F7;
            }

            .s-wysiwyg.t-violet ul li::before {
                color: #9D47A3;
            }
        </style>
	</body>
</html>