{# ========================================================================== #}
{# Inheritance #}
{# ========================================================================== #}
{% extends "base/layout" %}

{# ========================================================================== #}
{# Content #}
{# ========================================================================== #}
{% block content %}
    <div class="lg:container-xl xl:container lg:mx-auto md:mx-auto px-4"> 
        <h1 class="text-3xl font-bold underline">
            Hello world!
        </h1>
    </div>
{% endblock %}