{# ========================================================================== #}
{# :: Variables #}
{# ========================================================================== #}
{% set content = content ?? null %}

{# ========================================================================== #}
{# :: Content #}
{# ========================================================================== #}
{% if content is not null %}
    <div class="grid gap-6">
    {% for block in content.all() %}
        <div>
            {% include "/components/content/" ~ block.type.handle ~".twig" with { 
                data : block
            } %}
        </div>
    {% endfor %}
    </div>
{% endif %}