
{# ========================================================================== #}
{# :: Variables #}
{# ========================================================================== #}
{% set content = data.wysiwygField ?? "" %}
{# ========================================================================== #}
{# :: Component #}
{# ========================================================================== #}
<div>
    {{ content }}
</div>
