
{# ========================================================================== #}
{# :: Variables #}
{# ========================================================================== #}
{% set content = data.wysiwygField ?? "" %}
{% set color = color ?? "dark" %}

{# ========================================================================== #}
{# :: Component #}
{# ========================================================================== #}
<div class="s-wysiwyg t-{{color}}">
    {{ content }}
</div>
