
{# ========================================================================== #}
{# :: Component #}
{# ========================================================================== #}
{# <div class="mb-40 mt-24">
    {% include "/sections/header-article.twig" %}
</div> #}

{% for block in entry.commonBody.level(1).all() %}
    {# {{ block.type.handle }} #}
    {% set backgroundGray = block.commonBackgroundGray ?? false %}
    {% set noSpacingTop = block.commonNoSpacingTop ?? false %}
    <div class="{% if noSpacingTop %} pb-16 {% else %} py-16 {% endif %} {% if backgroundGray%} bg-grey {% endif %}">
        {% include "/sections/" ~ block.type.handle ~".twig" with { 
            data : block
        } %}
    </div>
{% endfor %}
