{# ========================================================================== #}
{# :: Variables #}
{# ========================================================================== #}
{% set articles = craft.entries.section('article').all() %}

{% import "/macros/color" as colorMacro %}
{% import "/macros/title" as titleMacro %}

{# ========================================================================== #}
{# :: Component #}
{# ========================================================================== #}
{% if articles|length > 0 %}
    <div>
        <div class="container mx-auto px-4 flex gap-60 ">
            <ul class="flex flex-wrap gap-12 lg:flex-nowrap">
                {% for article in articles %}
                    <li class=" w-full lg:w-4/12 transition ease-in-out transform cursor-pointer md:hover:translate-y-4">
                        {% include "/components/article.twig" with { 
                                article : article,
                                color: colorMacro.color(loop.index)
                            }
                        %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endif %}