{# ========================================================================== #}
{# :: Variables #}
{# ========================================================================== #}
{% set title = data.commonTitle ?? "" %}
{% if category is defined %}
    {% set blogs = craft.entries.section('blogArticles').relatedTo(category).all() %}
{% else %}
    {% set blogs = craft.entries.section('blogArticles').all() %}
{% endif %}

{# ========================================================================== #}
{# :: Active blog #}
{# ========================================================================== #}
{% set featuredBlog = blogs[0] %}

{% if category is defined %}
    {% if category.commonBlogs|length > 0 %}
        {% set featuredBlog = category.commonBlogs[0] %}
    {% endif %}
{% endif %}

{# ========================================================================== #}
{# :: Component #}
{# ========================================================================== #}
<div class="container mx-auto px-8 mb-24">
    {% include "/components/split-header.twig" with {
            title: featuredBlog.commonTitle,
            image: featuredBlog.commonImage.one().getUrl({ width: "1200px", quality: 80 }),
            description: featuredBlog.commonDescription,
            ctaLink: featuredBlog.getUrl(),
            ctaText: "Read more"|t,
            icon: "glasses-alt"
        }
    %}
</div>

<div class="container mx-auto px-8">
    <div class="grid gap-12 md:grid-cols-2">
        {% for blog in blogs %}
            {% if blog.id != featuredBlog.id %}
                <div class="">
                    {% include "/components/article-block.twig" with {
                        link: blog.getUrl(),
                        title: blog.commonTitle,
                        description: blog.commonDescription,
                        image: blog.commonImage.one().getUrl({ width: "720px", quality: 80 }),
                        ctaText: "Read more"|t,
                        icon: "glasses-alt"
                    } %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
