{# ========================================================================== #}
{# :: Variables #}
{# ========================================================================== #}
{% set title = data.commonTitle ?? "" %}
{% set cards = data.commonCards ?? "" %}

{% import "/macros/title" as titleMacro %}

{# ========================================================================== #}
{# :: Component #}
{# ========================================================================== #}
<div class="container mx-auto px-4">
    <div class="grid gap-8 lg:grid-cols-4">
        <h2 class="">
            {{ titleMacro.decorative(title) }}
        </h2>

        {% for card in cards.all() %}
            <div>
                {% include "/components/card.twig" with { 
                    card : card
                } %}
            </div>
        {% endfor %}
    </div>

</div>