{# ========================================================================== #}
{# :: Variables #}
{# ========================================================================== #}
{% set title = data.commonTitle ?? "" %}
{% set careers = data.commonCareers.all() %}

{# ========================================================================== #}
{# :: Component #}
{# ========================================================================== #}
<div class="container mx-auto px-4">
        {# Column 1 #}
        <h2 class="row-span-1 col-span-1 pb-8">
            {{ title }}
        </h2>

        <div class="grid gap-8 md:gap-12 md:grid-cols-2">
            {% for career in careers %}
                <div>
                    {% include "/components/article-block.twig" with {
                        link: career.getUrl(),
                        title: career.commonTitle,
                        description: career.commonDescription,
                        image: career.commonImage.one().getUrl({ width: "720px", quality: 80 }),
                        video: career.commonVideo,
                        ctaText: "Check application" | t,
                        icon: "eye"
                    } %}
                </div>
            {% endfor %}
        </div>
</div>
