{# ========================================================================== #}
{# :: Variables #}
{# ========================================================================== #}
{% set title = data.commonTitle ?? "" %}
{% set description = data.commonDescription ?? "" %} 
{% set link = data.commonLink ?? "" %} 
{% set color = data.commonColor ?? "" %} 

{% import "/macros/color" as colorMacro %}

{% switch color %}
    {% case 'primary' %}
        {% set colorBackground = "bg-primary" %}
        {% set buttonBackground = "white" %}
        {% 
            set colorLeft = {
                pacman: "fill-white",
                circle: "fill-lavendel",
                triangle:  "fill-rose",
                stripes: "fill-blue",
            }
        %}

        {% 
            set colorRight = {
                pacman: "fill-white",
                circle: "fill-lavendel",
                triangle:  "fill-rose",
                stripes: "fill-blue",
            }
        %}
    {% case 'white' %}
        {% set colorBackground = "bg-white" %}
        {% set buttonBackground = "primary" %}
        {% 
            set colorLeft = {
                pacman: "fill-primary",
                circle: "fill-lavendel",
                triangle:  "fill-rose",
                stripes: "fill-blue",
            }
        %}

        {% 
            set colorRight = {
                pacman: "fill-primary",
                circle: "fill-lavendel",
                triangle:  "fill-rose",
                stripes: "fill-blue",
            }
        %}
    {% case 'rose' %}
        {% set colorBackground = "bg-white" %}
        {% set buttonBackground = "primary" %}
        {% 
            set colorLeft = {
                pacman: "fill-white",
                circle: "fill-rose",
                triangle:  "fill-primary",
                stripes: "fill-primary",
            }
        %}

        {% 
            set colorRight = {
                pacman: "fill-white",
                circle: "fill-rose",
                triangle:  "fill-rose",
                stripes: "fill-primary",
            }
        %}
    {% case 'violet' %}
        {% set colorBackground = "bg-white" %}
        {% set buttonBackground = "primary" %}
        {% 
            set colorLeft = {
                pacman: "fill-white",
                circle: "fill-violet",
                triangle:  "fill-primary",
                stripes: "fill-primary",
            }
        %}

        {% 
            set colorRight = {
                pacman: "fill-white",
                circle: "fill-violet",
                triangle:  "fill-violet",
                stripes: "fill-primary",
            }
        %}
    {% case 'blue' %}
        {% set colorBackground = "bg-white" %}
        {% set buttonBackground = "primary" %}
        {% 
            set colorLeft = {
                pacman: "fill-white",
                circle: "fill-blue",
                triangle:  "fill-primary",
                stripes: "fill-primary",
            }
        %}

        {% 
            set colorRight = {
                pacman: "fill-white",
                circle: "fill-blue",
                triangle:  "fill-blue",
                stripes: "fill-primary",
            }
        %}
    {% default %}
        {% set colorBackground = "bg-primary" %}
        {% set buttonBackground = "white" %}
        {% 
            set colorLeft = {
                pacman: "fill-white",
                circle: "fill-lavendel",
                triangle:  "fill-rose",
                stripes: "fill-blue",
            }
        %}

        {% 
            set colorRight = {
                pacman: "fill-white",
                circle: "fill-lavendel",
                triangle:  "fill-rose",
                stripes: "fill-blue",
            }
        %}
{% endswitch %}

{# ========================================================================== #}
{# :: Component #}
{# ========================================================================== #}
<div class="container mx-auto px-4 ">
    <div class="flex {{colorBackground}} overflow-hidden gap-12">
        {# Shape left #}
        <div class="relative w-2/12">
            {% include "/components/shapes/left.twig" with {
                customClasses: "absolute -left-1 -top-1 ",
                colors: colorLeft
            } %}
        </div>

        {# Content #}
        <div class="px-4 flex flex-col items-center w-8/12 text-center gap-6 mx-auto py-24">
            <h2>
                {{ title }}
            </h2>

            <div>
                {{ description|nl2br }}
            </div>

            {# Buttons #}
            <ul class="flex gap-8 items-center">
                {% if link and link.getText() %}
                    <li>
                        {% include "/components/button.twig" with { 
                            href :link,
                            text : link.getText(),
                            color: buttonBackground,
                        }
                            only
                        %}
                    </li>
                {% endif %}
            </ul>
        </div>

        {# Shape right #}
        <div class="relative w-2/12">
            {% include "/components/shapes/right.twig" with {
                customClasses: "absolute -right-1 -bottom-1 pt-8",
                colors: colorRight
            } %}
        </div>
    </div>
</div>