{# ========================================================================== #}
{# :: Variables #}
{# ========================================================================== #}
{% set title = data.commonTitle ?? "" %}
{% set link = data.commonLink ?? "" %}

{# ========================================================================== #}
{# :: Component #}
{# ========================================================================== #}
<div class="container mx-auto">
    <div class="flex flex-col items-center">
        <h3 class="mb-8 text-3xl md:mb-12 md:text-5xl">
            {{ title }}
        </h3>

         {% include "/components/button.twig" with {
            text: link.getText(),
            link: link,
            isButton: false
        } %}
    </div>
</div>
