{# ========================================================================== #}
{# :: Variables #}
{# ========================================================================== #}
{% set title = data.commonTitle ?? "" %}
{% set description = data.commonDescription ?? "" %} 
{% set links = data.commonLinks ?? "" %} 

{% set articles = data.commonArticles ?? "" %} 
{% set evenementen = craft.entries.section('evenementen').all() %}

{% import "/macros/color" as colorMacro %}
{% import "/macros/title" as titleMacro %}

{# ========================================================================== #}
{# :: Component #}
{# ========================================================================== #}
<div class="bg-primary py-16 {% if articles|length > 0 %}pb-60{% endif %}">
    <div class="container mx-auto px-4 flex flex-wrap gap-12 lg:gap-60 lg:flex-nowrap ">
        <div class=" w-full lg:w-6/12">
            <h2 class="mb-6">
                {{ titleMacro.decorative(title) }}
            </h2>

            <div class="mb-6">
                {{ description|nl2br }}
            </div>

            {% if links|length > 0 %}
                <ul class="flex gap-12">
                    {% for link in links.all() %}
                        <li>
                            {% include "/components/link.twig" with { 
                                href : link.page,
                                text : link.page.getText(),
                                color: "black"
                            } %}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>

        <div class=" w-full lg:w-6/12">
            <div class="bg-white p-8">
                {% include "/components/icons/calendar.twig" %}

                <h3 class="mb-6 mt-4">
                    Komende evenementen
                </h3>

                <ul class="grid gap-4">
                    {% for evenement in evenementen %}
                        <li>
                            {% include "/components/link.twig" with { 
                                href : evenement.getUrl(),
                                text : "<strong>" ~ evenement.commonDate | date("d-m-Y")  ~ "</strong> " ~ evenement.commonTitle,
                                color: "black"
                            } %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>

{% if articles|length > 0 %}
    <div class="-mt-40">
        <div class="container mx-auto px-4 flex gap-60 ">
            <ul class="flex flex-wrap gap-12 lg:flex-nowrap">
                {% for article in articles %}
                    <li class=" w-full lg:w-4/12 transition ease-in-out transform cursor-pointer md:hover:translate-y-4">
                        {% include "/components/article.twig" with { 
                                article : article,
                                color: colorMacro.color(loop.index)
                            }
                        %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endif %}