{# ========================================================================== #}
{# :: Variables #}
{# ========================================================================== #}
{% set title = data.commonTitle ?? "" %}
{% set cards = data.commonCards ?? "" %}

{# ========================================================================== #}
{# :: Component #}
{# ========================================================================== #}
<div class="container mx-auto px-4">
    <div class="flex flex-wrap justify-center">

        {# Image #}
        {% if data.commonImage.one() %}
            <div class="bg-cover bg-center w-full h-56 lg:h-auto lg:min-h-[20rem] lg:w-3/12 rounded-tl-10rem" style="background-image: url('{{ data.commonImage.one().getUrl({
                width: 960,
                format: 'webp',
                quality: 100,
                mode: 'fit'
            }) }}')">
            </div>
        {% endif %}

        {# Fact #}
        <div class="w-full lg:w-9/12 grid lg:grid-cols-2">
            {% for card in cards.all() %}
                {% include "/components/fact.twig" with { 
                    card : card
                } %}
            {% endfor %}
        </div>
    </div>
</div>