{# ========================================================================== #}
{# :: Variables #}
{# ========================================================================== #}
{% set title = data.commonTitle ?? "" %}
{% set careers = craft.entries.section('careers').all() %}

{# ========================================================================== #}
{# :: Component #}
{# ========================================================================== #}
<div class="container mx-auto px-8">
    <div class="grid  md:grid-cols-2 gap-8 md:gap-12">
        {# Column 1 #}
        <div>
            <h1 class="row-span-1 col-span-1 pb-8 md:pr-24 md:pb-24">
                {{ title }}
            </h1>

            <div class="grid grid-cols-1 gap-y-8 md:gap-y-12">
                {% for career in careers %}
                    {% if loop.index % 2 == 0 %}
                        <div>
                            {% include "/components/article-block.twig" with {
                                link: career.getUrl(),
                                title: career.commonTitle,
                                description: career.commonDescription,
                                image: career.commonImage.one().getUrl({ width: "720px", quality: 80 }),
                                video: career.commonVideo,
                                ctaText: "Check application" | t,
                                icon: "eye"
                            } %}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>

        {# Column 1 #}
        <div class="grid grid-cols-1 gap-y-8 md:gap-y-12">
            {% for career in careers %}
                {% if loop.index % 2 == 1 %}
                    <div>
                        {% include "/components/article-block.twig" with {
                            link: career.getUrl(),
                            title: career.commonTitle,
                            description: career.commonDescription,
                            image: career.commonImage.one().getUrl(),
                            video: career.commonVideo,
                            ctaText: "Check application" | t,
                            icon: "eye"
                        } %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
