{# ========================================================================== #}
{# :: Variables #}
{# ========================================================================== #}
{% set title = data.commonTitle ?? "" %}
{% set description = data.commonDescription ?? "" %}
{% set video = data.commonVideo ?? "" %}
{% set image = data.commonImage.one().getUrl({ width: "1200px", quality: 80 }) ?? "" %}

{# ========================================================================== #}
{# :: Component #}
{# ========================================================================== #}
<div class="container mx-auto px-4">
    <div class="flex items-center flex-col justify-center relative md:flex-row md:justify-start lg:justify-center">
        <div class="flex items-center justify-center">
            <div class="hidden md:block min-w-decorative-circle1 min-h-decorative-circle1 rounded-full border-2 border-yellow absolute -translate-x-2/4 -z-20 ml-20">
            </div>
        </div>
        <div class="bg-contain bg-no-repeat bg-center grow-0 flex justify-center items-center p-8 min-h-decorative-circle1 min-w-decorative-circle1 max-w-decorative-circle1 md:p-18 lg:p-24 lg:min-h-decorative-circle-blue lg:min-w-decorative-circle-blue lg:max-w-decorative-circle-blue md:z-20" style="background-image: url('/assets/images/blue-circle.svg')">
            <div>
                <h1 class="mb-6 text-3xl text-center md:text-left lg:text-5xl">
                    {{ title }}
                </h1>

                <div class="text-center md:text-left">
                    {{ description }}
                </div>
            </div>
        </div>

        <div @click="openModal = !openModal; playVideoId = '{{ video }}'; " class="rounded-full flex justify-center items-center bg-cover bg-no-repeat bg-center sm:-ml-24 z-10 cursor-pointer min-h-decorative-circle1 min-w-decorative-circle1 max-w-decorative-circle1 -mt-16 md:mt-0 md:-ml-16 md:z-10 md:min-h-decorative-circle-image md:min-w-decorative-circle-image md:max-w-decorative-circle-image" style="background-image: url('{{ image }}')">
            {% include "/components/icons/play.twig" with {
                class: "fill-white h-16 w-16 hover:h-24 hover:w-24",
            } %}
        </div>

        <div class="flex items-center justify-center">
            <div class="hidden md:block min-w-decorative-circle2 min-h-decorative-circle2 rounded-full border-2 border-orange absolute translate-x-2/4 -z-20 -ml-20">
            </div>
        </div>
    </div>

</div>
