{# ========================================================================== #}
{# :: Variables #}
{# ========================================================================== #}
{% set title = data.commonTitle ?? "" %}
{% set description = data.commonDescription ?? "" %} 
{% set link = data.commonLink ?? "" %} 
{% set secondaryLink = data.commonSecondaryLink ?? "" %} 

{% import "/macros/color" as colorMacro %}

{# ========================================================================== #}
{# :: Component #}
{# ========================================================================== #}
<div class="bg-primary py-20 relative">
    <div class="container mx-auto">
        {# Shape right #}
        {% include "/components/shapes/left.twig" with {
            customClasses: "absolute left-0 top-0 h-full"
        } %}

        {# Content #}
        <div class="px-4 flex flex-col items-center w-8/12 text-center gap-8 mx-auto">
            <h2>
                {{ title }}
            </h2>

            <div>
                {{ description|nl2br }}
            </div>

            {# Buttons #}
            <ul class="flex gap-8 items-center">
                <li>
                    {% include "/components/button.twig" with { 
                        href :link,
                        text : link.getText(),
                    } %}
                </li>
                <li>
                    {% include "/components/link.twig" with { 
                        href : secondaryLink,
                        text : secondaryLink.getText(),
                        icon: "arrow-down"
                    } %}
                </li>
            </ul>
        </div>

        {# Shape right #}
        {% include "/components/shapes/right.twig" with {
            customClasses: "absolute right-0 top-0 h-full"
        } %}
    </div>
</div>