
{# ========================================================================== #}
{# :: Component #}
{# ========================================================================== #}
<div class="container mx-auto px-4">
    <div class="flex flex-wrap justify-center gap-4 lg:gap-8 lg:flex-nowrap ">
        {# Fact #}
        {% for image in data.commonImage.all() %}
            <!-- loop over index -->
            {% if loop.index is divisible by 4 %}
                <div class="bg-cover w-full lg:w-2/12 h-60 lg:rounded-bl-5rem" style="background-image: url('{{image.url }}')">
                </div>
            {% elseif loop.index is divisible by 3 %}
                <div class="bg-cover w-full lg:w-4/12 h-60 rounded-tr-5rem lg:rounded-none" style="background-image: url('{{image.url }}')">
                </div>
            {% elseif loop.index is divisible by 2 %}
                <div class="bg-cover w-full lg:w-2/12 h-60 rounded-bl-5rem" style="background-image: url('{{image.url }}')">
                </div>
            {% else %}
                <div class="bg-cover w-full lg:w-4/12 h-60 rounded-tl-5rem" style="background-image: url('{{image.url }}')">
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>