{# ========================================================================== #}
{# :: Variables #}
{# ========================================================================== #}
{% set title = data.commonTitle ?? "" %}

{% import "/macros/title" as titleMacro %}

{# ========================================================================== #}
{# :: Component #}
{# ========================================================================== #}
<div class="container mx-auto px-4 flex gap-60 ">
    <div class=" w-full lg:w-6/12">
        <h2 class="mb-6">
            {{ titleMacro.decorative(title) }}
        </h2>
    </div>

    <div class=" w-full lg:w-6/12">

    </div>
</div>
