{# ========================================================================== #}
{# :: Variables #}
{# ========================================================================== #}
{% set title = data.commonTitle ?? "" %}
{% set content = data.commonContent ?? "" %}

{# ========================================================================== #}
{# :: Component #}
{# ========================================================================== #}
<div class="container max-w-4xl mx-auto px-4">
    <h2 class="mb-4">
        {{ title }}
    </h2>

    {% include "/components/content/index.twig" with { 
        content : content
    } only %}
</div>