{# ========================================================================== #}
{# :: Variables #}
{# ========================================================================== #}
{% set title = data.commonTitle ?? "" %}
{% set textDirection = data.commonTextDirection ?? "" %}

{# ========================================================================== #}
{# :: Component #}
{# ========================================================================== #}
<div class="container mx-auto px-4">
    <h2 class="text-{{textDirection}} -mb-8">
        {{ title }}
    </h2>
</div>