{# ========================================================================== #}
{# :: Variables #}
{# ========================================================================== #}
{% set introduction = data.commonDescription ?? "" %}

{# ========================================================================== #}
{# :: Component #}
{# ========================================================================== #}
<div class="text-medium-blue">
    {{ introduction|nl2br }}
</div>