{# ========================================================================== #}
{# :: Variables #}
{# ========================================================================== #}
{% set entry = entry ?? "" %}
{% set articles = [] %}
{% set articlesIds = [ entry.id ] %}

{# First check related blogs #}
{% if entry.commonBlogs is not null %}
    {% for blog in entry.commonBlogs.all() %}
        {% if articles|length < 3 %}
            {% set articles = articles|merge([blog]) %}
            {% set articlesIds = articlesIds|merge([blog.id]) %}
        {% endif %}
    {% endfor %}
{% endif %}

{# Check related blogs with same category #}
{% if articles|length < 3 %}
    {% if entry.blogType %}
        {% set blogs = craft.entries.section('blogArticles').relatedTo(entry.blogType.one()).limit(4) %}

        {% for blog in blogs.all() %}
            {% if articles|length < 3 %}
                {% if blog.id not in articlesIds %}
                    {% set articles = articles|merge([blog]) %}
                    {% set articlesIds = articlesIds|merge([blog.id]) %}
                {% endif %}
            {% endif %}
        {% endfor %}
    {% endif %}
{% endif %}

{# Check other blog #}
{% if articles|length < 3 %}
    {% set blogs = craft.entries.section('blogArticles').limit(4) %}

    {% for blog in blogs.all() %}
        {% if articles|length < 3 %}
            {% if blog.id not in articlesIds %}
                {% set articles = articles|merge([blog]) %}
                {% set articlesIds = articlesIds|merge([blog.id]) %}
            {% endif %}
        {% endif %}
    {% endfor %}
{% endif %}

{# ========================================================================== #}
{# :: Component #}
{# ========================================================================== #}
<div class="md:mb-8">
    <p class="uppercase uppercase font-normal text-lg  mb-10">
        {{ 'Other insights'|t }}
    </p>

    <div class="grid gap-y-10">
        {% for article in articles %}
            {% include "/components/article-thumbnail" with {
                title: article.commonTitle,
                link: article.getUrl(),
                image: article.commonImage.one().getUrl({ width: "720px", quality: 80 })
            } %}
        {% endfor %}
    </div>
</div>