{# ========================================================================== #}
{# :: Variables #}
{# ========================================================================== #}
{% set rows = data.children() ?? "" %}
{% set description = data.commonDescription ?? "" %}

{# ========================================================================== #}
{# :: Component #}
{# ========================================================================== #}
<table class="mt-8 mb-16">
    {% for row in rows %}
        {% if loop.first %}
            
            <tr class="bg-light-blue text-left">
                {% for item in row.tableRow %}
                    <th class="p-4">
                        {{ item.mxValue }}
                    </th>
                {% endfor %}
            </tr>
        {% else %}
            <tr>
                {% for item in row.tableRow %}
                    <td class="p-4 border-2 border-light-blue">
                        {{ item.mxValue }}
                    </td>
                {% endfor %}
            </tr>
        {% endif %}
    {% endfor %}
</table