{# ========================================================================== #}
{# :: Variables #}
{# ========================================================================== #}
{% set title = data.commonTitle ?? "" %}
{% set description = data.commonDescription ?? "" %}

{# ========================================================================== #}
{# :: Component #}
{# ========================================================================== #}
<div id="{{title|lower|replace(" ","-")}}">
    <h2 class="mb-7">
        {{ title }}
    </h2>

    <div class="s-wysiwyg">
        {{ description|nl2br }}
    </div>
</div>