{# ========================================================================== #}
{# :: Variables #}
{# ========================================================================== #}
{% set href = href ?? "" %}
{% set text = text ?? "" %}
{% set isSmall = isSmall ?? false %}
{% set color = color ?? "white" %}

{# ========================================================================== #}
{# :: Component #}
{# ========================================================================== #}
<a href="{{ href }}" class="py-3 px-6 cursor-pointer bg-{{color}} inline-block">
    <span class=" {% if isSmall %} text-sm {% endif %}">
        {{ text | raw }}
    </span>
</a>