{# ========================================================================== #}
{# :: Variables #}
{# ========================================================================== #}
{% set href = link.page ?? "" %}
{% set text = link.page.getText() ?? "" %}

{# ========================================================================== #}
{# :: Component #}
{# ========================================================================== #}
<a href="{{ href }}" class="underline">
    {{ text }}
</a>