{# ========================================================================== #}
{# :: Variables #}
{# ========================================================================== #}
{% set href = href ?? "" %}
{% set text = text ?? "" %}
{% set isSmall = isSmall ?? false %}
{% set color = color ?? "black" %}

{# ========================================================================== #}
{# :: Component #}
{# ========================================================================== #}
<a href="{{ href }}" class="flex items-center transition ease-in-out transform cursor-pointer md:hover:translate-x-4 py-1">
    <span class="mr-2 border-b-1 border-b-{{color}} {% if isSmall %} text-sm {% endif %}">
        {{ text | raw }}
    </span>
    {% include "/components/icons/arrow-right.twig" with { 
        color : "fill-" ~ color
    } %}
</a>